<app-home-layout>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <section class="about">
            <div class="main">
                <img class="background-img" src="../../../assets/images/logo-1.png" alt="">
                <div class="all-text">
                    <h4>About Us</h4>
                    <div class="container">
                        Following a Rich Tradition
                        Major Rental is a pioneering institution with a rich history and strong tradition. The
                        experience and knowledge we have gained over the years have strengthened our commitment to
                        providing the best service to our customers.
                        Operating as a leader in the industry since the early 2000s, Major Rental has specialized in
                        luxury car rentals. We take pride in having served hundreds of satisfied customers in the past,
                        and we will continue to work with the same dedication in the future.
                        While our fleet consists of the latest technology vehicles in the industry, our team always
                        prioritizes customer satisfaction with our extensive experience and expertise. Each vehicle is
                        meticulously maintained to provide excellent performance and unique comfort.
                        Our roots form the foundation of our focus on customer satisfaction. By always prioritizing
                        quality and excellence, we continue to solidify our position as a leader in the industry as
                        Major Rental. Our past gives us strength and allows us to look to the future with hope.
                        Reach the pinnacle of luxury car rental experience with Major Rental. Every journey you take
                        with us will be an unforgettable experience.
                    </div>

                </div>
            </div>

        </section>
    </body>
</app-home-layout>